body{
	font-family: 'sourcehansans-tc';
}
/*banner start*/
/* leather start */
.leather-about-title {
	padding: 15px;
	font-size: 100px;
}
.leather-about-txt{
	font-size: 18px;
	padding: 15px;
	letter-spacing: 1.5px;
}
.leather-product {
	border-radius: 10px;
	padding: 3% 0 1% 0;
}
.leather-product-box{
	width: 19%;
	margin: 0 3%;
	float: left;
}
.list-pic-frame{
	position: relative;
}
.list-img {
	width: 100%;
}
.leather-product-info {
	position: absolute;
	font-weight: 900;
	left: 0%;
	right: 0%;
	height: 70px;
	bottom: 2px;
	background-color: rgba(255, 255, 255, 0.644);
}
.leather-product-info h4{
	padding: 5% 0 0 5%;
	font-size: 20px;
}
.leather-product-info p{
	float: right;
	padding: 5% 5% 0 0;
}
.leather-list-btn {
	display: block;
	float: right;
	color: #fff;
	height: 30px;
	line-height: 30px;
	font-size: 26px;
	margin-right: 3%;
	transition: all 1s;
	border-radius: 5px;
}
.leather-list-btn:hover{
	padding: 0 15px;
	background-color: rgb(255, 172, 49);
	color: #fff;
}
@media (max-width:1200px) and (min-width:1000px){
	.leather-about-title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 80px;
		line-height: 1.5;
	}
}
@media (max-width:1000px) and (min-width:768px){
	.leather-about-title {
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 2;
		font-size: 55px;
	}
	.leather-product{
		padding: 2% 0 0 0;
	}
	.leather-product-box{
		width: 40%;
		margin: 3% 5%;
		float: left;
	}
	.leather-list-btn {
		margin-right: 5%;
	}
}
@media (max-width:768px){
	.leather-about-title {
		font-size: 50px;
	}
	.leather-product-info h4{
		font-size: 20px;
	}
	.leather-about-txt{
		letter-spacing: 2px;
	}
	.leather-product-box{
		width: 40%;
		margin: 3% 5%;
		float: left;
	}
	.leather-list-btn {
		margin-right: 5%;
	}
}
@media (max-width:576px){
	.leather-about-txt{
		letter-spacing: 2px;
	}
	.leather-product{
		padding: 15px;
	}
	.leather-product-box{
		width: 90%;
		margin: 5% 5%;
		float: left;
	}
	.leather-list-btn {
		margin-right: 5%;
	}
	.leather-product-info {
		height: 100px;
	}
	.leather-product-info h4{
		font-size: 20px;
	}
}
/* aboutUs start*/
.aboutUs-list li{
	width: 32%;
	position: relative;
}
.aboutUs-img {
	width: 100%;
	box-shadow:2px 2px 20px grey; 
	border-radius: 5px;
	overflow: hidden;
	transition: all 1s;
}
.aboutUs-img:hover{
	position: absolute;
	padding: 10px;
	z-index: 3;
}
.aboutUs-intro {
	position: relative;
}
.aboutUs-intro-bg1,.aboutUs-intro-bg2{	
	width: 100%;
	height: 400px;	
	position: absolute;
	z-index:-1;
	left: 50%;
	transform: translate(-50%);
}
.aboutUs-intro-bg1{
	background-color: #EFEFEF;
	-webkit-clip-path:polygon(0% 100%, 0% 0%, 100% 0%);
}
.aboutUs-intro-bg2{
	background-color: #CFD2E1;
	-webkit-clip-path:polygon(0% 100%, 100%  0%,100% 100%);
}
.aboutUs-intro h3{
	font-size: 50px;
	font-weight: bold;
}
.aboutUs-intro p {
	font-size: 20px;
	font-weight: 900;
	text-align: center;
	transform: translateX(-1000px);
}
.aboutUs-intro p span{
	display: block;
}
@media (max-width:1000px){
	.aboutUs-intro-bg1,.aboutUs-intro-bg2{
		height: 300px;
	}
	.aboutUs-intro h3{
		font-size: 30px;
		font-weight: bold;
	}
	.aboutUs-intro p {
		font-size: 16px;
	}
}
@media (max-width:768px){
	.aboutUs-intro {
		background-size: cover;
	}
	.aboutUs-intro p{
		text-align: center;
	}
}
@media (max-width:576px){
	.aboutUs-list li{
		margin: 0 auto 30px auto;
		width: 90%;
	}
	.aboutUs-intro {
		background-size: cover;
	}
	.aboutUs-intro-bg1,.aboutUs-intro-bg2{
		height: 55vh;
	}
	.aboutUs-intro h3{
		font-size: 40px;
		font-weight: bold;
	}
	.aboutUs-intro p {
		font-size: 20px;
		text-align: left;
		transform: translateX(0px);
	}
	.aboutUs-intro p span{
		font-size: 16px;
		display: inline;
	}
}
@media(max-width:400px){
	.aboutUs-intro-bg1,.aboutUs-intro-bg2{
		height: 75vh;
	}
	.aboutUs-intro p {
		transform: translateX(0px);
	}
}
/* contact start */
.contact-box h2{
	font-size: 50px;
	font-weight: bold;
}
.contact-box ul {
	width: 75%;
}
.contact-box ul li{
	margin-bottom: 15px;
}
.contact-box ul li span{
	display: inline-block;
}
.contact-box ul li .contact-li-title{
	width: 80px;;
}
.contact-box .message input,textarea{
	width: 80%;
	padding: 5px 5px;
	border: none;
	display: block;
}
.contact-box message textarea{
	resize: none;
}
.pl {
	padding-left: 15%;
}
@media (max-width:1000px) and (min-width:768px){
	.contact-box ul {
		max-width: 273px;
	}
	.pl {
		padding-left: 15%;
	}
	.contact-box p {
		text-align: center;
		max-width: 548px;
	}
}
@media (max-width:768px){
	.contact-box ul li .contact-li-title{
		width: 100px;
	}
	.contact-box ul li{
		width: 270px;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.contact-box ul li .contact-li-txt{
		display: block;
		margin-top: 10px;
		margin-left: 100px;
	}
	.contact-box p {
		max-width: 357px;
		text-align: left;
		margin: 0 auto;
	}
	.contact-box .message input,textarea{
		width: 100%;
	}
	.pl {
		padding-left: 0;
	}
}
@media (max-width:576px){
	.contact-box ul{
	
	}
	.contact-box ul li .contact-li-title{
		width: 100px;
	}
	.contact-box ul li{
		width: 216px;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.contact-box ul li .contact-li-txt{
		display: block;
		margin-top: 10px;
		margin-left: 100px;
	}
	.contact-box p {
		font-size: 16px;
	}
	.pl {
		padding-left: 0;
	}
	.contact-box .message input{
		font-size: 20px;
	}
}
